*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri;
}

.headerBar {
    min-height: 30px;
    border-bottom: 2px solid silver;
}

    .headerBar .brand {
        width: 220px;
        font-weight: 900;
        padding: 15px;
    }

    .headerBar .topBar {
        box-shadow: 0px 5px 5px -3px silver;
    }

.container {
}

.sideBar {
    border-right: 1px solid silver;
    width: 229px;
    padding: 10px;
    float: left;
    height: 700px;
    color: gray;
}

    .sideBar ul {
        list-style-type: none;
    }

        .sideBar ul li {
            padding: 5px;
            padding-left: 15px;
            /*border-bottom:1px solid silver;*/
        }

            .sideBar ul li a i {
                color: gray;
                text-decoration: none;
                margin-right: 10px;
                font-size: 10pt;
            }

            .sideBar ul li a {
                color: gray;
                text-decoration: none;
            }

                .sideBar ul li a:hover {
                    color: #207eb5;
                }

                    .sideBar ul li a:hover i {
                        color: #207eb5;
                    }

.content {
    float: left;
    padding: 20px;
    width:80%
}
.page-title {
    border-bottom: 1px solid silver;
    font-weight: 900;
}
.form{
    margin-top:20px;
}
.form-header {
    background-color: #fafafa;
    color: dimgray;
    font-weight: 900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid silver;
    padding:10px;
}
.form-body{
    border:1px solid silver;
}
.row{
    padding:10px 20px;
    color:dimgray;
}
    .row .form-label {
        display:block;
        margin-bottom:5px;
    }
    .row .form-input{
        padding:7px;
        width:95%;
        border:1px solid teal;
        border-radius:4px;
    }
    .row .form-button{
        padding:10px 30px;
        margin-top:15px;
        border-radius:7px;
        cursor:pointer;
    }
.submit{
    border:1px solid #026464;
    background-color:teal;
    color:white;
    font-weight:900;
}
    .submit:hover {
        background-color: #029d9d;
    }
.form-red-message{
    color:red;
}
